      /** @jsx React.DOM */
      var host_vars = {{hostvars|to_json}};
      var group_facts = {{groups|to_json}};

      var HostTable = React.createClass({
        render: function () {
          var hostdata = this.props.data;
          var groupdata = this.props.groups;
          var node_groups = { };

          var rows = Object.keys(hostdata).map(function (host, index) {
            _.each(_.pairs(groupdata), function(element, index, list) { 
              group = element[0];
              nodes = element[1];
              if (_.has(node_groups, host) == false) {
                node_groups[host] = [ ];
              }

              if (_.contains(nodes, host) && group != "all") {
                node_groups[host].push(group);
              }
            });
            console.log(node_groups);
            return (
              <tr key={index}>
                <td className="nowrap">{hostdata[host].ansible_fqdn}</td>
                <td>{node_groups[host].join(",")}</td>
                <td>{hostdata[host].ansible_processor.length}</td>
              </tr>
            );
          });

          return (
          <div idName="hosttable">
            <h1 className="page-header">Hosts Detail</h1>
            <table className="table">
              <thead>
                <tr>
                  <th>Host</th>
                  <th>Cluster Roles</th>
                  <th>Num CPU</th>
                </tr>
              </thead>
              <tbody>
                {rows}
              </tbody>
            </table>
          </div>
          );
        }
      });

      React.renderComponent(
        <HostTable data={host_vars} groups={group_facts} />,
        document.getElementById('content')
      );

      var DebugPane = React.createClass({
        render: function () {
          return (
            <div className="debugpane">
              <h2>{this.props.title}</h2>
              <pre>{JSON.stringify(this.props.data, undefined, 2)}</pre>
            </div>
          );
        }
      });

      var DebugArea = React.createClass({
        render: function () {
          var panes = this.props.data.map(function (d){
            return(<DebugPane title={d.title} data={d.data} />);
          });

          return(
            <div className="debugarea">
              {panes}
            </div>
          );
        }
      });

      var debug_data = [
          {title: "Host Variables", data: host_vars}
      ];

      React.renderComponent(
       <DebugArea data={debug_data} />,
        document.getElementById('debug')
      );
